.box {
    padding: 2%;
    margin: 1%;
    background-color: var(--main);
    border: 1px solid;
    border-color: var(--main);
    border-radius: 10px;
    display: grid;
    overflow: hidden;

    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "title actions"
                        "content content";
}

.box-centered {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.wide-button {
    margin: 20px 0;
    background: var(--inputs);
    border-color: var(--inputs);
    border-radius: 5px;
}

input, textarea{
    outline:none;
    background:var(--inputs);
    color:var(--text-light);
    border: 0;
}
